<div class="col p-2 m-0">
    <div class="card border border-3 border-warning rounded-2 h-100">
        <a href="/fiche-article"><img src="{{this.poster}}"
                class="card-img-top" alt="Affiche"/></a>
        <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title text-center mb-3">{{this.titre}}</h5>
            <div class="row justify-content-center gap-4">
                <button class="col btn btn-outline-warning" data-bs-toggle="button"><i class="bi bi-eye"></i></button>
                <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                        class="bi bi-plus-circle"></i></button>
                <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                        class="bi bi-hand-thumbs-up"></i></button>
                <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                        class="bi bi-hand-thumbs-down"></i></button>
            </div>
        </div>
    </div>
</div>