<footer class="container-fluid row bg-warning mt-2 m-0">
    <h1 class="col d-flex align-items-center m-0">Site</h1>
    <div class="col d-flex flex-sm-row flex-column justify-content-center align-items-center">
        <a class="text-dark text-decoration-none" href="https://twitter.com/">
            <i class="bi bi-twitter m-3" style="font-size: 3rem"></i></a>

        <a class="text-dark text-decoration-none" href="https://www.facebook.com/">
            <i class="bi bi-facebook m-3" style="font-size: 3rem"></i></a>

        <a class="text-dark text-decoration-none" href="https://www.linkedin.com/">
            <i class="bi bi-linkedin m-3" style="font-size: 3rem"></i></a>

        <a class="text-dark text-decoration-none" href="https://github.com/RhoFormeur/Projet-Cinema.git">
            <i class="bi bi-github m-3" style="font-size: 3rem"></i></a>
    </div>
    <a class="col d-flex justify-content-end align-items-center text-decoration-none text-dark"
        href="/contact">Contact</a>
</footer>