<tr>
    <td scope="row" colspan="3">{{this.title}}</td>
    {{#if is_liked}}
    <td class="text-center text-danger">•</td>
    <td class="text-center"></td>
    {{else}}
    <td class="text-center"></td>
    <td class="text-center text-danger">•</td>
    {{/if}}
</tr>