<tr class="table">
    <td>
        <div class="d-flex">
            <p class="text-primary">{{this.username}}</p>
            <p class="text-muted">{{formatCommentDate this.created_at}}</p>
        </div>
        <p class="ms-5">{{this.content}}</p>
        <div class="d-flex">
            <a href="#" class="fw-light fs-6">éditer</a>
            <a href="#" class="fw-light fs-6">supprimer</a>
            <a href="#" class="fw-light fs-6">signaler</a>
        </div>
    </td>
</tr>