<footer class="container-fluid bg-warning mt-2 mt-auto">
        <div
            class="d-flex flex-sm-row flex-column justify-content-sm-between align-items-center py-3 border-top border-danger">
            <div class="col-sm-4 d-flex align-items-center text-sm-start text-center">
                <a href="/" class="me-2 mb-0 text-dark text-decoration-none lh-1">
                    <i class="fa-solid fa-clapperboard" width="30" height="24"></i>
                </a>
                <span class="mb-0">© 2023 ScreenMaze, Inc</span>
            </div>

            <ul class="nav col-sm-8 justify-content-end list-unstyled d-flex text-sm-end text-center">
                <li class="ms-2"><a class="text-decoration-none text-dark" href="/contact">Contact</a></li>
                <li class="ms-2"><a class="text-dark" href="https://www.linkedin.com/"><i class="bi bi-linkedin m-3"
                            width="24" height="24"></i></a></li>
                <li class="ms-2"><a class="text-dark" href="https://github.com/RhoFormeur/Projet-Cinema.git"><i
                            class="bi bi-github m-3" width="24" height="24"></i></a></li>
            </ul>
        </div>
    </footer>