<nav class="mt-2" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link bg-warning text-dark">Previous</a></li>
                <li class="page-item"><a class="page-link bg-warning text-dark" href="#">1</a></li>
                <li class="page-item"><a class="page-link bg-warning text-dark" href="#">2</a></li>
                <li class="page-item"><a class="page-link bg-warning text-dark" href="#">3</a></li>
                <li class="page-item"><a class="page-link bg-warning text-dark" href="#">Next</a></li>
        </ul>
</nav>