{{!-- Cards --}}
<div class="row row-cols-1 row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 m-0 g-3">
    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col p-2 m-0">
        <div class="card border border-3 border-warning rounded-2">
            <a href="/fiche-article"><img src="https://www.themoviedb.org/t/p/w1280/2RcBuU8cdxFxCJibbiYCGNLApfz.jpg"
                    class="card-img-top" alt="Affiche"></a>
            <div class="card-body">
                <h5 class="card-title text-center mb-3">Star Wars : Épisode 3 - La Revanche des Sith</h5>
                <div class="row justify-content-center gap-4">
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-eye"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-plus-circle"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                    <button class="col btn btn-outline-warning" data-bs-toggle="button"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Nav Pagination --}}
<nav class="mt-2" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link bg-warning text-dark">Previous</a></li>
        <li class="page-item"><a class="page-link bg-warning text-dark" href="#">1</a></li>
        <li class="page-item"><a class="page-link bg-warning text-dark" href="#">2</a></li>
        <li class="page-item"><a class="page-link bg-warning text-dark" href="#">3</a></li>
        <li class="page-item"><a class="page-link bg-warning text-dark" href="#">Next</a></li>
    </ul>
</nav>