{{!-- Présentation --}}
<header class="container-fluid d-flex flex-column flex-md-row align-items-center mb-4">
    <p class="text-white text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, dicta
        minus. Consectetur sapiente unde quos
        voluptates repellendus. Dolorem quibusdam nostrum ducimus consequuntur officia ea voluptate error,
        adipisci
        magnam ipsum totam mollitia velit reiciendis tempora nobis reprehenderit hic facere ex at.</p>
    <img class="border border-3 border-warning rounded-2 col-md-5 col-10"
        src="/assets/img/VHS.jpg" alt="vhs">
</header>

{{!-- Formulaire contact --}}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center text-white mb-4">
    <div class="text-center mb-4">
        <h1>Contactez-nous</h1>
        <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum facere autem
            provident, quibusdam ullam deserunt quos obcaecati incidunt praesentium sunt totam sed recusandae omnis
            dicta harum cum sint nemo quam odio consectetur quidem tempore. Eum sint neque nemo alias dolor!</p>
    </div>
    <form action="/contact" method="post" class="col-xxl-4 col-md-7 col-10 border border-3 border-warning rounded-4 p-3">
        <div class="row">
            <div class="col-md mb-3">
                <label for="inputName" class="form-label">Nom</label>
                <input type="text" class="form-control" id="inputName" name="name">
            </div>

            <div class="col-md mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="email">
            </div>
        </div>
        <div class="mb-3">
            <label for="inputSujet" class="form-label">Sujet</label>
            <input type="text" class="form-control" id="inputSujet" name="sujet">
        </div>

        <div class="mb-3">
            <label class="form-label" for="inputMessage">Message</label>
            <textarea class="form-control" id="inputMessage" rows="6" name="content"></textarea>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="col-5 col-sm-3 btn btn-warning">Envoyer</button>
        </div>
    </form>
</div>