{{!-- Cards --}}
<div class="row align-items-stretch row-cols-1 row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 m-0 g-3">
        {{#each list}}
        {{> global/card data=this}}
        {{/each}}
</div>

{{> global/pagination}}