
{{!-- Main img et log --}}
<main class="container-fluid position-relative p-0 mb-3">
    <img src="/assets/img/fauteuil_NB.jpg" alt="Cinema Noir Blanc" class="w-100">
    <button type="button" class="btn btn-warning position-absolute top-50 start-50 text-white translate-middle"
        data-bs-target="#Login" data-bs-toggle="modal">Connexion</button>
    {{!-- Modal Bootstrap --}}
    {{!-- Modal Connexion --}}
    <div class="modal fade" id="Login" aria-hidden="true" aria-labelledby="LoginLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="LoginLabel">Connectez-vous</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{!-- Formulaire de connexion --}}
                <form action="/login" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <Label for="logUsername" class="form-label">Identifiant</Label>
                            <input type="text" class="form-control" id="logUsername" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="logPass" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="logPass" name="password">
                        </div>
                        <div class="mb-3">
                            <input type="checkbox" class="form-check-input" id="logRemember">
                            <label for="logRemember" class="form-check-label">Se souvenir de moi ?</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#Signup"
                            data-bs-toggle="modal">Inscription</button>
                        <button type="button" class="btn btn-secondary" data-bs-target="#Forgot"
                            data-bs-toggle="modal">Mot
                            de passe oublié</button>
                        <button type="submit" class="btn btn-warning shadow-lg">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{!-- Modal Inscription --}}
    <div class="modal fade" id="Signup" aria-hidden="true" aria-labelledby="SignupLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SignupLabel">Inscrivez-vous</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{!-- Formulaire d'inscription --}}
                <form action="/register" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <Label for="regUsername" class="form-label">Identifiant</Label>
                            <input type="text" class="form-control" id="regUsername" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="regEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="regEmail" name="email">
                        </div>
                        <div class="mb-3">
                            <Label for="regPass" class="form-label">Mot de passe</Label>
                            <input type="password" class="form-control" id="regPass" name="password">
                        </div>
                        <div class="mb-3">
                            <label for="regConfirm" class="form-label">Confirmation du mot de passe</label>
                            <input type="password" class="form-control" id="regConfirm" name="confirm">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning" data-bs-toggle="modal">Inscription</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{!-- Modal Mot de passe oublie --}}
    <div class="modal fade" id="Forgot" aria-hidden="true" aria-labelledby="ForgotLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ForgotLabel">Mail de récupération</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{!-- Formulaire mail de récupération --}}
                <form action="/recover" method="post">
                    <div class="modal-body">
                        <Label for="recoEmail" class="form-label">Email</Label>
                        <input type="email" class="form-control" id="recoEmail" name="email">
                        <div id="emailHelp" class="form-text">Si l'email renseigné est lié a un compte, vous receverez
                            un mail de notre part afin de modifier votre mot de passe.</div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" data-bs-toggle="modal">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{{!-- Section Cards --}}
<section class="container-fluid row row-cols-1 row-cols-md-3 gap-5 justify-content-center mb-3 px-0 mx-0">
    <div
        class="col-xl-2 col-md-3 col-sm-8 bg-warning rounded-5 px-3 d-flex flex-column justify-content-between align-items-center">
        <i class="bi bi-film" style="font-size: 6rem"></i>
        <p class="text-center">Obtener des recommandations de Films, Séries et Animes, basé sur le contenu que vous
            avez aimé.</p>
    </div>

    <div
        class="col-xl-2 col-md-3 col-sm-8 bg-warning rounded-5 px-3 d-flex flex-column justify-content-between align-items-center">
        <i class="bi bi-bell" style="font-size: 6rem"></i>
        <p class="text-center">Creer votre watchlist et recever une notification lorsque un contenu sera bientôt
            diffuser à la TV ou sur une plateforme.</p>
    </div>

    <div
        class="col-xl-2 col-md-3 col-sm-8 bg-warning rounded-5 px-3 d-flex flex-column justify-content-between align-items-center">
        <i class="bi bi-share" style="font-size: 6rem"></i>
        <p class="text-center">Commenter et partager sur les films que vous avez visionnés avec toute une communauté
            cinéphile comme vous.</p>
    </div>
</section>