{{!-- Main img et log --}}
<main class="container-fluid position-relative p-0 mb-3">
    <img src="https://wallpapercave.com/wp/wp3188370.jpg" alt="Cinema Noir Blanc" class="w-100">

    {{!-- Modal Bootstrap --}}
    {{!-- Modal Connexion --}}
    <div class="modal fade" id="LoginModalToggle" aria-hidden="true" aria-labelledby="LoginModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="LoginModalToggleLabel">Connectez-vous</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{!-- Formulaire de connexion --}}
                <form class="modal-body">
                    <div class="mb-3">
                        <Label for="inputID1" class="form-label">Identifiant</Label>
                        <input type="ID" class="form-control" id="inputID1">
                    </div>
                    <div class="mb-3">
                        <label for="inputpassword1" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="inputpassword1">
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" class="form-check-input" id="inputremember1">
                        <label for="inputremember1" class="form-check-label">Se souvenir de moi ?</label>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-target="#SignupModalToggle"
                        data-bs-toggle="modal">Inscription</button>
                    <button class="btn btn-secondary" data-bs-target="#ForgotModalToggle" data-bs-toggle="modal">Mot
                        de passe oublié</button>
                    <button type="submit" class="btn btn-warning shadow-lg">Connexion</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Modal Inscription --}}
    <div class="modal fade" id="SignupModalToggle" aria-hidden="true" aria-labelledby="SignupModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SignupModalToggleLabel">Inscrivez-vous</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{!-- Formulaire d'inscription --}}
                <form class="modal-body">
                    <div class="mb-3">
                        <Label for="inputID2" class="form-label">Identifiant</Label>
                        <input type="ID" class="form-control" id="inputID2">
                    </div>
                    <div class="mb-3">
                        <label for="inputmail2" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputmail2">
                    </div>
                    <div class="mb-3">
                        <Label for="inputpassword2" class="form-label">Mot de passe</Label>
                        <input type="password" class="form-control" id="inputpassword2">
                    </div>
                    <div class="mb-3">
                        <label for="inputpassword3" class="form-label">Confirmation du mot de passe</label>
                        <input type="password" class="form-control" id="inputpassword3">
                        <div id="passwordHelpBlock" class="form-text">Votre mot de passe doit être compris entre
                            8-20
                            caractères, doit comprendre lettres et chiffres et ne doit pas avoir d'espaces, de
                            caractères spéciaux ou emoji.</div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" data-bs-target="#SignupModalToggle"
                        data-bs-toggle="modal">Inscription</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Modal Mot de passe oublie --}}
    <div class="modal fade" id="ForgotModalToggle" aria-hidden="true" aria-labelledby="ForgotModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ForgotModalToggleLabel">Mail de récupération</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{!-- Formulaire mail de récupération --}}
                <form class="modal-body">
                    <Label for="inputemail3" class="form-label">Email</Label>
                    <input type="email" class="form-control" id="inputemail3">
                    <div id="emailHelp" class="form-text">Si l'email renseigné est lié a un compte, vous receverez
                        un mail de notre part afin de modifier votre mot de passe.</div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" data-bs-target="#ForgotModalToggle"
                        data-bs-toggle="modal">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-warning position-absolute top-50 start-50 text-white translate-middle" data-bs-toggle="modal"
        href="#LoginModalToggle" role="button">Connexion</a>

</main>

{{!-- Section Cards --}}
<section class="container-fluid row row-cols-1 row-cols-md-3 gap-5 justify-content-center mb-3 px-0 mx-0">
    <div
        class="col-xl-2 col-md-3 col-sm-8 bg-warning rounded-5 px-3 d-flex flex-column justify-content-between align-items-center">
        <i class="bi bi-film" style="font-size: 6rem"></i>
        <p class="text-center">Obtener des recommandations de Films, Séries et Animes, basé sur le contenu que vous
            avez aimé.</p>
    </div>

    <div
        class="col-xl-2 col-md-3 col-sm-8 bg-warning rounded-5 px-3 d-flex flex-column justify-content-between align-items-center">
        <i class="bi bi-bell" style="font-size: 6rem"></i>
        <p class="text-center">Creer votre watchlist et recever une notification lorsque un contenu sera bientôt
            diffuser à la TV ou sur une plateforme.</p>
    </div>

    <div
        class="col-xl-2 col-md-3 col-sm-8 bg-warning rounded-5 px-3 d-flex flex-column justify-content-between align-items-center">
        <i class="bi bi-share" style="font-size: 6rem"></i>
        <p class="text-center">Commenter et partager sur les films que vous avez visionnés avec toute une communauté
            cinéphile comme vous.</p>
    </div>
</section>