{{!-- Card Stats a faire --}}

<div class="container-fluid row mb-4">
    <svg width="804" height="550" viewBox="0 0 804 550" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="4.5" y="4.5" width="541" height="541" rx="24.5" fill="white" fill-opacity="0.28" stroke="#FFC700"
            stroke-width="9" />
        <path
            d="M475 275C475 250.618 470.542 226.442 461.845 203.663L424.476 217.931C431.434 236.153 435 255.494 435 275H475Z"
            fill="#0BEE06" stroke="black" />
        <path
            d="M461.845 203.663C447.783 166.833 423.15 134.979 391.041 112.106L367.833 144.685C393.52 162.984 413.227 188.466 424.476 217.931L461.845 203.663Z"
            fill="#EED706" stroke="black" />
        <path
            d="M391.041 112.106C354.972 86.4115 311.395 73.415 267.144 75.1544C222.894 76.8939 180.472 93.2708 146.531 121.717C112.59 150.163 89.0508 189.07 79.6038 232.336C70.1568 275.601 75.3368 320.779 94.3313 360.783L130.465 343.626C115.269 311.623 111.125 275.481 118.683 240.868C126.241 206.256 145.072 175.131 172.225 152.374C199.377 129.617 233.315 116.515 268.716 115.124C304.116 113.732 338.978 124.129 367.833 144.685L391.041 112.106Z"
            fill="#EE9106" stroke="black" />
        <path
            d="M94.3313 360.783C113.805 401.798 146.655 434.965 187.48 454.834C228.305 474.702 274.675 480.088 318.967 470.107C363.259 460.126 402.837 435.371 431.194 399.913C459.552 364.455 475 320.403 475 275H435C435 311.322 422.641 346.564 399.956 374.93C377.27 403.297 345.608 423.101 310.174 431.086C274.74 439.071 237.644 434.762 204.984 418.867C172.324 402.972 146.044 376.438 130.465 343.626L94.3313 360.783Z"
            fill="#FF0000" stroke="black" />
        <circle cx="689" cy="292" r="10" fill="#0BEE06" />
        <path
            d="M732.808 289H731.046C730.942 288.493 730.76 288.048 730.499 287.665C730.244 287.281 729.931 286.959 729.562 286.699C729.197 286.434 728.793 286.235 728.347 286.102C727.902 285.97 727.438 285.903 726.955 285.903C726.075 285.903 725.277 286.126 724.562 286.571C723.852 287.016 723.286 287.672 722.865 288.538C722.448 289.405 722.24 290.468 722.24 291.727C722.24 292.987 722.448 294.05 722.865 294.916C723.286 295.783 723.852 296.438 724.562 296.884C725.277 297.329 726.075 297.551 726.955 297.551C727.438 297.551 727.902 297.485 728.347 297.352C728.793 297.22 729.197 297.023 729.562 296.763C729.931 296.498 730.244 296.173 730.499 295.79C730.76 295.402 730.942 294.956 731.046 294.455H732.808C732.675 295.198 732.434 295.863 732.083 296.45C731.733 297.037 731.297 297.537 730.776 297.949C730.256 298.356 729.671 298.666 729.022 298.879C728.378 299.092 727.689 299.199 726.955 299.199C725.715 299.199 724.612 298.896 723.646 298.29C722.68 297.684 721.92 296.822 721.366 295.705C720.812 294.587 720.535 293.261 720.535 291.727C720.535 290.193 720.812 288.867 721.366 287.75C721.92 286.633 722.68 285.771 723.646 285.165C724.612 284.559 725.715 284.256 726.955 284.256C727.689 284.256 728.378 284.362 729.022 284.575C729.671 284.788 730.256 285.101 730.776 285.513C731.297 285.92 731.733 286.417 732.083 287.004C732.434 287.587 732.675 288.252 732.808 289ZM739.858 299.227C738.874 299.227 738.01 298.993 737.266 298.524C736.528 298.055 735.95 297.4 735.533 296.557C735.121 295.714 734.915 294.729 734.915 293.602C734.915 292.466 735.121 291.474 735.533 290.626C735.95 289.779 736.528 289.121 737.266 288.652C738.01 288.183 738.874 287.949 739.858 287.949C740.843 287.949 741.705 288.183 742.444 288.652C743.187 289.121 743.765 289.779 744.177 290.626C744.593 291.474 744.802 292.466 744.802 293.602C744.802 294.729 744.593 295.714 744.177 296.557C743.765 297.4 743.187 298.055 742.444 298.524C741.705 298.993 740.843 299.227 739.858 299.227ZM739.858 297.722C740.607 297.722 741.222 297.53 741.705 297.146C742.188 296.763 742.546 296.259 742.778 295.634C743.01 295.009 743.126 294.331 743.126 293.602C743.126 292.873 743.01 292.194 742.778 291.564C742.546 290.934 742.188 290.425 741.705 290.037C741.222 289.649 740.607 289.455 739.858 289.455C739.11 289.455 738.495 289.649 738.012 290.037C737.529 290.425 737.171 290.934 736.939 291.564C736.707 292.194 736.591 292.873 736.591 293.602C736.591 294.331 736.707 295.009 736.939 295.634C737.171 296.259 737.529 296.763 738.012 297.146C738.495 297.53 739.11 297.722 739.858 297.722ZM747.36 299V288.091H748.98V289.795H749.122C749.349 289.213 749.716 288.761 750.222 288.439C750.729 288.112 751.338 287.949 752.048 287.949C752.767 287.949 753.366 288.112 753.845 288.439C754.328 288.761 754.704 289.213 754.974 289.795H755.088C755.367 289.232 755.786 288.785 756.345 288.453C756.903 288.117 757.573 287.949 758.355 287.949C759.33 287.949 760.128 288.254 760.748 288.865C761.368 289.471 761.678 290.416 761.678 291.699V299H760.002V291.699C760.002 290.894 759.782 290.319 759.342 289.973C758.901 289.627 758.383 289.455 757.786 289.455C757.019 289.455 756.425 289.687 756.004 290.151C755.582 290.61 755.372 291.192 755.372 291.898V299H753.667V291.528C753.667 290.908 753.466 290.409 753.063 290.03C752.661 289.646 752.142 289.455 751.508 289.455C751.072 289.455 750.665 289.571 750.286 289.803C749.912 290.035 749.609 290.357 749.377 290.768C749.15 291.176 749.036 291.647 749.036 292.182V299H747.36ZM769.317 299.227C768.266 299.227 767.359 298.995 766.597 298.531C765.839 298.062 765.254 297.409 764.843 296.571C764.435 295.728 764.232 294.748 764.232 293.631C764.232 292.513 764.435 291.528 764.843 290.676C765.254 289.819 765.827 289.152 766.561 288.673C767.3 288.19 768.162 287.949 769.146 287.949C769.715 287.949 770.276 288.044 770.83 288.233C771.384 288.422 771.888 288.73 772.343 289.156C772.797 289.578 773.159 290.136 773.429 290.832C773.699 291.528 773.834 292.385 773.834 293.403V294.114H765.425V292.665H772.129C772.129 292.049 772.006 291.5 771.76 291.017C771.519 290.534 771.173 290.153 770.723 289.874C770.278 289.594 769.753 289.455 769.146 289.455C768.479 289.455 767.901 289.62 767.414 289.952C766.931 290.278 766.559 290.705 766.298 291.23C766.038 291.756 765.908 292.319 765.908 292.92V293.886C765.908 294.71 766.05 295.409 766.334 295.982C766.623 296.55 767.023 296.983 767.534 297.281C768.046 297.575 768.64 297.722 769.317 297.722C769.757 297.722 770.155 297.66 770.51 297.537C770.87 297.409 771.18 297.22 771.441 296.969C771.701 296.713 771.902 296.396 772.044 296.017L773.664 296.472C773.493 297.021 773.207 297.504 772.804 297.92C772.402 298.332 771.905 298.654 771.313 298.886C770.721 299.114 770.056 299.227 769.317 299.227ZM768.294 286.614L770.027 283.318H771.987L769.771 286.614H768.294ZM780.503 299.227C779.594 299.227 778.791 298.998 778.095 298.538C777.399 298.074 776.855 297.421 776.462 296.578C776.069 295.731 775.872 294.729 775.872 293.574C775.872 292.428 776.069 291.434 776.462 290.591C776.855 289.748 777.402 289.097 778.102 288.638C778.803 288.179 779.613 287.949 780.531 287.949C781.242 287.949 781.803 288.067 782.215 288.304C782.631 288.536 782.949 288.801 783.166 289.099C783.389 289.393 783.562 289.634 783.685 289.824H783.827V284.455H785.503V299H783.884V297.324H783.685C783.562 297.523 783.387 297.774 783.159 298.077C782.932 298.375 782.608 298.643 782.186 298.879C781.765 299.111 781.204 299.227 780.503 299.227ZM780.73 297.722C781.403 297.722 781.971 297.546 782.435 297.196C782.899 296.841 783.252 296.351 783.493 295.726C783.735 295.096 783.855 294.369 783.855 293.545C783.855 292.731 783.737 292.018 783.5 291.408C783.263 290.792 782.913 290.314 782.449 289.973C781.985 289.627 781.412 289.455 780.73 289.455C780.02 289.455 779.428 289.637 778.955 290.001C778.486 290.361 778.133 290.851 777.896 291.472C777.664 292.087 777.548 292.778 777.548 293.545C777.548 294.322 777.667 295.027 777.904 295.662C778.145 296.292 778.5 296.794 778.969 297.168C779.442 297.537 780.03 297.722 780.73 297.722ZM788.806 299V288.091H790.482V299H788.806ZM789.658 286.273C789.331 286.273 789.049 286.161 788.813 285.939C788.581 285.716 788.465 285.449 788.465 285.136C788.465 284.824 788.581 284.556 788.813 284.334C789.049 284.111 789.331 284 789.658 284C789.985 284 790.264 284.111 790.496 284.334C790.733 284.556 790.851 284.824 790.851 285.136C790.851 285.449 790.733 285.716 790.496 285.939C790.264 286.161 789.985 286.273 789.658 286.273ZM798.126 299.227C797.074 299.227 796.168 298.995 795.405 298.531C794.648 298.062 794.063 297.409 793.651 296.571C793.244 295.728 793.04 294.748 793.04 293.631C793.04 292.513 793.244 291.528 793.651 290.676C794.063 289.819 794.636 289.152 795.37 288.673C796.108 288.19 796.97 287.949 797.955 287.949C798.523 287.949 799.084 288.044 799.638 288.233C800.192 288.422 800.697 288.73 801.151 289.156C801.606 289.578 801.968 290.136 802.238 290.832C802.508 291.528 802.643 292.385 802.643 293.403V294.114H794.233V292.665H800.938C800.938 292.049 800.815 291.5 800.569 291.017C800.327 290.534 799.982 290.153 799.532 289.874C799.087 289.594 798.561 289.455 797.955 289.455C797.287 289.455 796.71 289.62 796.222 289.952C795.739 290.278 795.367 290.705 795.107 291.23C794.847 291.756 794.716 292.319 794.716 292.92V293.886C794.716 294.71 794.858 295.409 795.143 295.982C795.431 296.55 795.831 296.983 796.343 297.281C796.854 297.575 797.448 297.722 798.126 297.722C798.566 297.722 798.964 297.66 799.319 297.537C799.679 297.409 799.989 297.22 800.249 296.969C800.51 296.713 800.711 296.396 800.853 296.017L802.472 296.472C802.302 297.021 802.015 297.504 801.613 297.92C801.21 298.332 800.713 298.654 800.121 298.886C799.529 299.114 798.864 299.227 798.126 299.227Z"
            fill="white" />
        <circle cx="689" cy="232" r="10" fill="#EED706" />
        <path
            d="M728.804 228.091C728.719 227.371 728.373 226.812 727.767 226.415C727.161 226.017 726.417 225.818 725.537 225.818C724.893 225.818 724.329 225.922 723.846 226.131C723.368 226.339 722.994 226.625 722.724 226.99C722.459 227.355 722.327 227.769 722.327 228.233C722.327 228.621 722.419 228.955 722.604 229.234C722.793 229.509 723.034 229.739 723.328 229.923C723.622 230.103 723.929 230.252 724.251 230.371C724.573 230.484 724.869 230.577 725.139 230.648L726.616 231.045C726.995 231.145 727.416 231.282 727.881 231.457C728.349 231.633 728.797 231.872 729.223 232.175C729.654 232.473 730.009 232.857 730.288 233.325C730.568 233.794 730.707 234.369 730.707 235.051C730.707 235.837 730.501 236.547 730.089 237.182C729.682 237.816 729.086 238.321 728.3 238.695C727.518 239.069 726.569 239.256 725.452 239.256C724.41 239.256 723.508 239.088 722.746 238.751C721.988 238.415 721.391 237.946 720.956 237.345C720.525 236.744 720.281 236.045 720.224 235.25H722.042C722.09 235.799 722.274 236.254 722.596 236.614C722.923 236.969 723.335 237.234 723.832 237.409C724.334 237.58 724.874 237.665 725.452 237.665C726.124 237.665 726.728 237.556 727.263 237.338C727.798 237.116 728.221 236.808 728.534 236.415C728.846 236.017 729.003 235.553 729.003 235.023C729.003 234.54 728.868 234.147 728.598 233.844C728.328 233.541 727.973 233.295 727.532 233.105C727.092 232.916 726.616 232.75 726.105 232.608L724.315 232.097C723.179 231.77 722.279 231.304 721.616 230.697C720.953 230.091 720.622 229.298 720.622 228.318C720.622 227.504 720.842 226.794 721.282 226.188C721.728 225.577 722.324 225.103 723.072 224.767C723.825 224.426 724.666 224.256 725.594 224.256C726.531 224.256 727.364 224.424 728.094 224.76C728.823 225.091 729.4 225.546 729.827 226.124C730.257 226.701 730.485 227.357 730.508 228.091H728.804ZM737.808 239.227C736.785 239.227 735.904 238.986 735.166 238.503C734.427 238.02 733.859 237.355 733.461 236.507C733.063 235.66 732.865 234.691 732.865 233.602C732.865 232.494 733.068 231.517 733.475 230.669C733.887 229.817 734.46 229.152 735.194 228.673C735.933 228.19 736.794 227.949 737.779 227.949C738.546 227.949 739.238 228.091 739.853 228.375C740.469 228.659 740.973 229.057 741.366 229.568C741.759 230.08 742.003 230.676 742.097 231.358H740.421C740.294 230.861 740.009 230.42 739.569 230.037C739.133 229.649 738.546 229.455 737.808 229.455C737.154 229.455 736.581 229.625 736.089 229.966C735.601 230.302 735.22 230.778 734.945 231.393C734.676 232.004 734.541 232.722 734.541 233.545C734.541 234.388 734.673 235.122 734.938 235.747C735.208 236.372 735.587 236.857 736.075 237.203C736.567 237.549 737.145 237.722 737.808 237.722C738.243 237.722 738.639 237.646 738.994 237.494C739.349 237.343 739.65 237.125 739.896 236.841C740.142 236.557 740.317 236.216 740.421 235.818H742.097C742.003 236.462 741.768 237.042 741.394 237.558C741.025 238.07 740.535 238.477 739.924 238.78C739.318 239.078 738.613 239.227 737.808 239.227ZM744.548 239V228.091H746.224V239H744.548ZM745.4 226.273C745.073 226.273 744.792 226.161 744.555 225.939C744.323 225.716 744.207 225.449 744.207 225.136C744.207 224.824 744.323 224.556 744.555 224.334C744.792 224.111 745.073 224 745.4 224C745.727 224 746.006 224.111 746.238 224.334C746.475 224.556 746.593 224.824 746.593 225.136C746.593 225.449 746.475 225.716 746.238 225.939C746.006 226.161 745.727 226.273 745.4 226.273ZM755.544 231.983V233.545H749.18V231.983H755.544ZM763.351 228.091V229.511H757.47V228.091H763.351ZM759.232 239V226.585C759.232 225.96 759.378 225.439 759.672 225.023C759.966 224.606 760.347 224.294 760.816 224.085C761.284 223.877 761.779 223.773 762.3 223.773C762.712 223.773 763.048 223.806 763.308 223.872C763.569 223.938 763.763 224 763.891 224.057L763.408 225.506C763.323 225.477 763.204 225.442 763.053 225.399C762.906 225.357 762.712 225.335 762.47 225.335C761.916 225.335 761.516 225.475 761.27 225.754C761.029 226.034 760.908 226.443 760.908 226.983V239H759.232ZM765.7 239V228.091H767.376V239H765.7ZM766.552 226.273C766.226 226.273 765.944 226.161 765.707 225.939C765.475 225.716 765.359 225.449 765.359 225.136C765.359 224.824 765.475 224.556 765.707 224.334C765.944 224.111 766.226 224 766.552 224C766.879 224 767.158 224.111 767.39 224.334C767.627 224.556 767.746 224.824 767.746 225.136C767.746 225.449 767.627 225.716 767.39 225.939C767.158 226.161 766.879 226.273 766.552 226.273Z"
            fill="white" />
        <circle cx="689" cy="172" r="10" fill="#EE9106" />
        <path
            d="M721.424 179H719.578L724.919 164.455H726.737L732.078 179H730.231L725.885 166.756H725.771L721.424 179ZM722.106 173.318H729.549V174.881H722.106V173.318ZM741.669 168.091L737.635 179H735.931L731.897 168.091H733.715L736.726 176.784H736.84L739.851 168.091H741.669ZM748.065 179.227C747.014 179.227 746.107 178.995 745.345 178.531C744.587 178.062 744.002 177.409 743.591 176.571C743.183 175.728 742.98 174.748 742.98 173.631C742.98 172.513 743.183 171.528 743.591 170.676C744.002 169.819 744.575 169.152 745.309 168.673C746.048 168.19 746.91 167.949 747.895 167.949C748.463 167.949 749.024 168.044 749.578 168.233C750.132 168.422 750.636 168.73 751.091 169.156C751.545 169.578 751.907 170.136 752.177 170.832C752.447 171.528 752.582 172.385 752.582 173.403V174.114H744.173V172.665H750.877C750.877 172.049 750.754 171.5 750.508 171.017C750.267 170.534 749.921 170.153 749.471 169.874C749.026 169.594 748.501 169.455 747.895 169.455C747.227 169.455 746.649 169.62 746.162 169.952C745.679 170.278 745.307 170.705 745.047 171.23C744.786 171.756 744.656 172.319 744.656 172.92V173.886C744.656 174.71 744.798 175.409 745.082 175.982C745.371 176.55 745.771 176.983 746.282 177.281C746.794 177.575 747.388 177.722 748.065 177.722C748.505 177.722 748.903 177.66 749.258 177.537C749.618 177.409 749.928 177.22 750.189 176.969C750.449 176.713 750.65 176.396 750.792 176.017L752.412 176.472C752.241 177.021 751.955 177.504 751.552 177.92C751.15 178.332 750.653 178.654 750.061 178.886C749.469 179.114 748.804 179.227 748.065 179.227ZM756.808 172.438V179H755.132V168.091H756.751V169.795H756.893C757.149 169.241 757.537 168.796 758.058 168.46C758.579 168.119 759.251 167.949 760.075 167.949C760.814 167.949 761.46 168.1 762.014 168.403C762.568 168.702 762.999 169.156 763.306 169.767C763.614 170.373 763.768 171.14 763.768 172.068V179H762.092V172.182C762.092 171.325 761.869 170.657 761.424 170.179C760.979 169.696 760.368 169.455 759.592 169.455C759.057 169.455 758.579 169.571 758.157 169.803C757.741 170.035 757.412 170.373 757.17 170.818C756.929 171.263 756.808 171.803 756.808 172.438ZM771.575 168.091V169.511H765.922V168.091H771.575ZM767.57 165.477H769.246V175.875C769.246 176.348 769.314 176.704 769.452 176.94C769.594 177.172 769.774 177.329 769.991 177.409C770.214 177.485 770.448 177.523 770.695 177.523C770.879 177.523 771.031 177.513 771.149 177.494C771.268 177.471 771.362 177.452 771.433 177.438L771.774 178.943C771.661 178.986 771.502 179.028 771.298 179.071C771.095 179.118 770.837 179.142 770.524 179.142C770.051 179.142 769.587 179.04 769.132 178.837C768.682 178.633 768.308 178.323 768.01 177.906C767.716 177.49 767.57 176.964 767.57 176.33V165.477ZM780.972 174.54V168.091H782.648V179H780.972V177.153H780.858C780.602 177.707 780.205 178.179 779.665 178.567C779.125 178.95 778.443 179.142 777.619 179.142C776.938 179.142 776.331 178.993 775.801 178.695C775.271 178.392 774.854 177.937 774.551 177.331C774.248 176.72 774.097 175.951 774.097 175.023V168.091H775.773V174.909C775.773 175.705 775.995 176.339 776.44 176.812C776.89 177.286 777.463 177.523 778.159 177.523C778.576 177.523 779 177.416 779.43 177.203C779.866 176.99 780.231 176.663 780.524 176.223C780.822 175.783 780.972 175.222 780.972 174.54ZM785.718 179V168.091H787.337V169.739H787.451C787.65 169.199 788.009 168.761 788.53 168.425C789.051 168.089 789.638 167.92 790.292 167.92C790.415 167.92 790.569 167.923 790.753 167.928C790.938 167.932 791.078 167.939 791.172 167.949V169.653C791.115 169.639 790.985 169.618 790.782 169.589C790.583 169.556 790.372 169.54 790.15 169.54C789.619 169.54 789.146 169.651 788.729 169.874C788.317 170.091 787.99 170.394 787.749 170.783C787.512 171.166 787.394 171.604 787.394 172.097V179H785.718ZM797.401 179.227C796.35 179.227 795.443 178.995 794.681 178.531C793.923 178.062 793.338 177.409 792.926 176.571C792.519 175.728 792.316 174.748 792.316 173.631C792.316 172.513 792.519 171.528 792.926 170.676C793.338 169.819 793.911 169.152 794.645 168.673C795.384 168.19 796.246 167.949 797.23 167.949C797.799 167.949 798.36 168.044 798.914 168.233C799.468 168.422 799.972 168.73 800.426 169.156C800.881 169.578 801.243 170.136 801.513 170.832C801.783 171.528 801.918 172.385 801.918 173.403V174.114H793.509V172.665H800.213C800.213 172.049 800.09 171.5 799.844 171.017C799.603 170.534 799.257 170.153 798.807 169.874C798.362 169.594 797.837 169.455 797.23 169.455C796.563 169.455 795.985 169.62 795.498 169.952C795.015 170.278 794.643 170.705 794.382 171.23C794.122 171.756 793.992 172.319 793.992 172.92V173.886C793.992 174.71 794.134 175.409 794.418 175.982C794.707 176.55 795.107 176.983 795.618 177.281C796.13 177.575 796.724 177.722 797.401 177.722C797.841 177.722 798.239 177.66 798.594 177.537C798.954 177.409 799.264 177.22 799.525 176.969C799.785 176.713 799.986 176.396 800.128 176.017L801.748 176.472C801.577 177.021 801.291 177.504 800.888 177.92C800.486 178.332 799.989 178.654 799.397 178.886C798.805 179.114 798.14 179.227 797.401 179.227Z"
            fill="white" />
        <circle cx="689" cy="112" r="10" fill="#FF0000" />
        <path
            d="M721.692 119H719.845L725.186 104.455H727.004L732.345 119H730.499L726.152 106.756H726.039L721.692 119ZM722.374 113.318H729.817V114.881H722.374V113.318ZM738.816 119.227C737.793 119.227 736.912 118.986 736.173 118.503C735.435 118.02 734.867 117.355 734.469 116.507C734.071 115.66 733.872 114.691 733.872 113.602C733.872 112.494 734.076 111.517 734.483 110.669C734.895 109.817 735.468 109.152 736.202 108.673C736.941 108.19 737.802 107.949 738.787 107.949C739.554 107.949 740.245 108.091 740.861 108.375C741.477 108.659 741.981 109.057 742.374 109.568C742.767 110.08 743.011 110.676 743.105 111.358H741.429C741.301 110.861 741.017 110.42 740.577 110.037C740.141 109.649 739.554 109.455 738.816 109.455C738.162 109.455 737.589 109.625 737.097 109.966C736.609 110.302 736.228 110.778 735.953 111.393C735.683 112.004 735.548 112.722 735.548 113.545C735.548 114.388 735.681 115.122 735.946 115.747C736.216 116.372 736.595 116.857 737.083 117.203C737.575 117.549 738.153 117.722 738.816 117.722C739.251 117.722 739.646 117.646 740.002 117.494C740.357 117.343 740.657 117.125 740.904 116.841C741.15 116.557 741.325 116.216 741.429 115.818H743.105C743.011 116.462 742.776 117.042 742.402 117.558C742.033 118.07 741.543 118.477 740.932 118.78C740.326 119.078 739.62 119.227 738.816 119.227ZM750.3 108.091V109.511H744.646V108.091H750.3ZM746.294 105.477H747.97V115.875C747.97 116.348 748.039 116.704 748.176 116.94C748.318 117.172 748.498 117.329 748.716 117.409C748.939 117.485 749.173 117.523 749.419 117.523C749.604 117.523 749.755 117.513 749.874 117.494C749.992 117.471 750.087 117.452 750.158 117.438L750.499 118.943C750.385 118.986 750.227 119.028 750.023 119.071C749.819 119.118 749.561 119.142 749.249 119.142C748.775 119.142 748.311 119.04 747.857 118.837C747.407 118.633 747.033 118.323 746.735 117.906C746.441 117.49 746.294 116.964 746.294 116.33V105.477ZM752.821 119V108.091H754.497V119H752.821ZM753.673 106.273C753.347 106.273 753.065 106.161 752.828 105.939C752.596 105.716 752.48 105.449 752.48 105.136C752.48 104.824 752.596 104.556 752.828 104.334C753.065 104.111 753.347 104 753.673 104C754 104 754.28 104.111 754.512 104.334C754.748 104.556 754.867 104.824 754.867 105.136C754.867 105.449 754.748 105.716 754.512 105.939C754.28 106.161 754 106.273 753.673 106.273ZM761.999 119.227C761.014 119.227 760.15 118.993 759.407 118.524C758.668 118.055 758.09 117.4 757.674 116.557C757.262 115.714 757.056 114.729 757.056 113.602C757.056 112.466 757.262 111.474 757.674 110.626C758.09 109.779 758.668 109.121 759.407 108.652C760.15 108.183 761.014 107.949 761.999 107.949C762.984 107.949 763.846 108.183 764.584 108.652C765.328 109.121 765.905 109.779 766.317 110.626C766.734 111.474 766.942 112.466 766.942 113.602C766.942 114.729 766.734 115.714 766.317 116.557C765.905 117.4 765.328 118.055 764.584 118.524C763.846 118.993 762.984 119.227 761.999 119.227ZM761.999 117.722C762.747 117.722 763.363 117.53 763.846 117.146C764.329 116.763 764.686 116.259 764.918 115.634C765.15 115.009 765.266 114.331 765.266 113.602C765.266 112.873 765.15 112.194 764.918 111.564C764.686 110.934 764.329 110.425 763.846 110.037C763.363 109.649 762.747 109.455 761.999 109.455C761.251 109.455 760.635 109.649 760.153 110.037C759.67 110.425 759.312 110.934 759.08 111.564C758.848 112.194 758.732 112.873 758.732 113.602C758.732 114.331 758.848 115.009 759.08 115.634C759.312 116.259 759.67 116.763 760.153 117.146C760.635 117.53 761.251 117.722 761.999 117.722ZM771.177 112.438V119H769.501V108.091H771.12V109.795H771.262C771.518 109.241 771.906 108.796 772.427 108.46C772.948 108.119 773.62 107.949 774.444 107.949C775.183 107.949 775.829 108.1 776.383 108.403C776.937 108.702 777.368 109.156 777.676 109.767C777.983 110.373 778.137 111.14 778.137 112.068V119H776.461V112.182C776.461 111.325 776.239 110.657 775.794 110.179C775.348 109.696 774.738 109.455 773.961 109.455C773.426 109.455 772.948 109.571 772.526 109.803C772.11 110.035 771.781 110.373 771.539 110.818C771.298 111.263 771.177 111.803 771.177 112.438Z"
            fill="white" />
    </svg>
</div>

{{!-- Listes --}}
{{!-- Films --}}
<table class="table table-light">
    <h2 class="bg-light">Films</h2>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="3">Noms</th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-up"></i>
            </th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-down"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
    </tbody>
</table>

{{!-- Séries --}}
<table class="table table-light">
    <h2 class="bg-light">Séries</h2>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="3">Noms</th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-up"></i>
            </th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-down"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
    </tbody>
</table>

{{!-- Animes --}}
<table class="table table-light">
    <h2 class="bg-light">Animes</h2>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="3">Noms</th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-up"></i>
            </th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-down"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="3">Star Wars : Épisode 3 - La Revanche des Sith</td>
            <td class="text-center">X</td>
            <td class="text-center">-</td>
        </tr>
    </tbody>
</table>