{{!-- 1 User --}}
<li class="list-group-item d-flex flex-sm-row flex-column justify-content-sm-between">
    <div class="d-flex align-items-center">
        <p class="m-0">{{this.username}}</p>
    </div>
    <div class="d-flex justify-content-end gap-1">
        <button type="button" class="btn btn-warning"><i class="fa-regular fa-eye"></i></button>
        <button type="button" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></button>
        <button type="button" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
    </div>
</li>